<div style="background-color:#f4f8ff; padding:16px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000;">

<h2 style="margin-top:0; color:#000;">Dimensions Exploration</h2>

<h4 style="color:#000;">Purpose</h4>
<ul>
  <li>Explore the structure of dimension tables.</li>
  <li>Understand distinct attribute values used for analysis.</li>
</ul>

<h4 style="color:#000;">SQL Functions Used</h4>
<ul>
  <li><b>DISTINCT</b></li>
  <li><b>ORDER BY</b></li>
</ul>

</div>

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<b>1. Retrieve a list of unique countries from which customers originate</b>
</div>

In [9]:
query = """
SELECT DISTINCT 
    country 
FROM gold.dim_customers
ORDER BY country;
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>2. Retrieve a list of unique categories, subcategories, and products</strong>
</div>

In [20]:
query = """
SELECT 
    DISTINCT TOP 10
    category, 
    subcategory, 
    product_name 
FROM gold.dim_products
ORDER BY category, subcategory, product_name;
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))