<div style="background-color:#f4f8ff; padding:16px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000;">

<h2 style="margin-top:0; color:#000;">Date Range Exploration</h2>

<h4 style="color:#000;">Purpose</h4>
<ul>
  <li>Determine the temporal boundaries of key data points.</li>
  <li>Understand the range of historical data available for analysis.</li>
</ul>

<h4 style="color:#000;">SQL Functions Used</h4>
<ul>
  <li><b>MIN()</b></li>
  <li><b>MAX()</b></li>
  <li><b>DATEDIFF()</b></li>
</ul>

</div>

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<b>1. Determine the first and last order date and the total duration in months</b>
</div>

In [2]:
query = """
SELECT 
    MIN(order_date) AS first_order_date,
    MAX(order_date) AS last_order_date,
    DATEDIFF(MONTH, MIN(order_date), MAX(order_date)) AS order_range_months
FROM gold.fact_sales;
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>*************2. Find the youngest and oldest customer based on birthdate</strong>
</div>

In [3]:
query = """
SELECT
    MIN(birthdate) AS oldest_birthdate,
    DATEDIFF(YEAR, MIN(birthdate), GETDATE()) AS oldest_age,
    MAX(birthdate) AS youngest_birthdate,
    DATEDIFF(YEAR, MAX(birthdate), GETDATE()) AS youngest_age
FROM gold.dim_customers;
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))