<div style="background-color:#f4f8ff; padding:16px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000;">

<h2 style="margin-top:0; color:#000;">Measures Exploration (Key Metrics)</h2>

<h4 style="color:#000;">Purpose</h4>
<ul>
  <li>Calculate aggregated metrics such as totals and averages for quick insights.</li>
  <li>Identify overall trends and detect potential anomalies.</li>
</ul>

<h4 style="color:#000;">SQL Functions Used</h4>
<ul>
  <li><b>COUNT()</b></li>
  <li><b>SUM()</b></li>
  <li><b>AVG()</b></li>
</ul>

</div>

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<b>1. Find the Total Sales</b>
</div>

In [2]:
query = """
SELECT SUM(sales_amount) AS total_sales FROM gold.fact_sales
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>2. Find how many items are sold</strong>
</div>

In [3]:
query = """
SELECT SUM(quantity) AS total_quantity FROM gold.fact_sales
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>3. Find the average selling price</strong>
</div>

In [4]:
query = """
SELECT AVG(price) AS avg_price FROM gold.fact_sales
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>4. *************************Find the Total number of Orders</strong>
</div>

In [5]:
query = """
SELECT COUNT(DISTINCT order_number) AS total_orders FROM gold.fact_sales
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>5. Find the total number of products</strong>
</div>

In [6]:
query = """
SELECT COUNT(product_name) AS total_products FROM gold.dim_products
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>6. Find the total number of customers</strong>
</div>

In [7]:
query = """
SELECT COUNT(customer_key) AS total_customers FROM gold.dim_customers;
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>7. Find the total number of customers that has placed an order</strong>
</div>

In [8]:
query = """
SELECT COUNT(DISTINCT customer_key) AS total_customers FROM gold.fact_sales;
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
<strong>8. Generate a Report that shows all key metrics of the business</strong>
</div>

In [9]:
query = """
SELECT 'Total Sales' AS measure_name, SUM(sales_amount) AS measure_value FROM gold.fact_sales
UNION ALL
SELECT 'Total Quantity', SUM(quantity) FROM gold.fact_sales
UNION ALL
SELECT 'Average Price', AVG(price) FROM gold.fact_sales
UNION ALL
SELECT 'Total Orders', COUNT(DISTINCT order_number) FROM gold.fact_sales
UNION ALL
SELECT 'Total Products', COUNT(DISTINCT product_name) FROM gold.dim_products
UNION ALL
SELECT 'Total Customers', COUNT(customer_key) FROM gold.dim_customers;
"""
df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))