<div style="background-color:#f4f8ff; padding:16px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000;">

<h2 style="margin-top:0; color:#000;">Change Over Time Analysis</h2>

<h4 style="color:#000;">Purpose</h4>
<ul>
  <li>Track trends, growth, and changes in key metrics over time.</li>
  <li>Perform time-series analysis and identify seasonality patterns.</li>
  <li>Measure growth or decline across specific time periods.</li>
</ul>

<h4 style="color:#000;">SQL Functions Used</h4>
<ul>
  <li><b>DATEPART()</b>, <b>DATETRUNC()</b>, <b>FORMAT()</b></li>
  <li><b>SUM()</b>, <b>COUNT()</b>, <b>AVG()</b></li>
</ul>

</div>

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
  <b>1. Analyse sales performance over time</b><br>
  <span style="font-size:16px;">Quick Date Functions</span>
</div>

In [2]:
query = """
SELECT TOP 10
    YEAR(order_date) AS order_year,
    MONTH(order_date) AS order_month,
    SUM(sales_amount) AS total_sales,
    COUNT(DISTINCT customer_key) AS total_customers,
    SUM(quantity) AS total_quantity
FROM gold.fact_sales
WHERE order_date IS NOT NULL
GROUP BY YEAR(order_date), MONTH(order_date)
ORDER BY YEAR(order_date), MONTH(order_date);
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
  <b>2. Analyse sales performance over time</b><br>
  <span style="font-size:16px;">DATETRUNC()</span>
</div>

In [3]:
query = """
SELECT TOP 10
    DATETRUNC(month, order_date) AS order_date,
    SUM(sales_amount) AS total_sales,
    COUNT(DISTINCT customer_key) AS total_customers,
    SUM(quantity) AS total_quantity
FROM gold.fact_sales
WHERE order_date IS NOT NULL
GROUP BY DATETRUNC(month, order_date)
ORDER BY DATETRUNC(month, order_date);
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
  <b>3. Analyse sales performance over time</b><br>
  <span style="font-size:16px;">FORMAT()</span>
</div>

In [4]:
query = """
SELECT TOP 10
    FORMAT(order_date, 'yyyy-MMM') AS order_date,
    SUM(sales_amount) AS total_sales,
    COUNT(DISTINCT customer_key) AS total_customers,
    SUM(quantity) AS total_quantity
FROM gold.fact_sales
WHERE order_date IS NOT NULL
GROUP BY FORMAT(order_date, 'yyyy-MMM')
ORDER BY FORMAT(order_date, 'yyyy-MMM');
"""
df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))