<div style="background-color:#f4f8ff; padding:16px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000;">

<h2 style="margin-top:0; color:#000;">Cumulative Analysis</h2>

<h4 style="color:#000;">Purpose</h4>
<ul>
  <li>Calculate running totals or moving averages for key metrics.</li>
  <li>Track cumulative performance over time.</li>
  <li>Identify long-term trends and growth patterns.</li>
</ul>

<h4 style="color:#000;">SQL Functions Used</h4>
<ul>
  <li><b>SUM() OVER()</b></li>
  <li><b>AVG() OVER()</b></li>
</ul>

</div>

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
  <b>1. Calculate the total sales per month and the running total of sales over time</b><br>
  <span style="font-size:16px;">Cumulative Analysis</span>
</div>

In [2]:
query = """
SELECT TOP 10
    order_month,
    total_sales,
    SUM(total_sales) OVER (ORDER BY order_month) AS running_total_sales,
    AVG(avg_price) OVER (ORDER BY order_month) AS moving_average_sales
FROM
(
    SELECT
        DATETRUNC(month, order_date) AS order_month,
        SUM(sales_amount) AS total_sales,
        AVG(price) AS avg_price
    FROM gold.fact_sales
    WHERE order_date IS NOT NULL
    GROUP BY DATETRUNC(month, order_date)
) t
ORDER BY order_month;

"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
  <b>2. Calculate the total sales per year and the running total of sales & avg. Price over time.</b><br>
  <span style="font-size:16px;">Cumulative Analysis</span>
</div>

In [3]:
query = """
SELECT
	order_date,
	total_sales,
	SUM(total_sales) OVER (ORDER BY order_date) AS running_total_sales,
	AVG(avg_price) OVER (ORDER BY order_date) AS moving_average_price
FROM
(
    SELECT 
        DATETRUNC(year, order_date) AS order_date,
        SUM(sales_amount) AS total_sales,
        AVG(price) AS avg_price
    FROM [gold].[fact_sales]
    WHERE order_date IS NOT NULL
    GROUP BY DATETRUNC(year, order_date)
) t
"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))