<div style="background-color:#f4f8ff; padding:16px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000;">

<h2 style="margin-top:0; color:#000;">Part-to-Whole Analysis</h2>

<h4 style="color:#000;">Purpose</h4>
<ul>
  <li>Compare performance or metrics across different dimensions or time periods.</li>
  <li>Evaluate differences and contributions between categories.</li>
  <li>Support A/B testing and regional or segment-level comparisons.</li>
</ul>

<h4 style="color:#000;">SQL Functions Used</h4>
<ul>
  <li><b>SUM()</b>, <b>AVG()</b> – Aggregate values for comparison.</li>
  <li><b>SUM() OVER()</b> – Calculate totals using window functions.</li>
</ul>

</div>

<div style="background-color:#f4f8ff; padding:10px; border-left:6px solid #1f4fd8; border-radius:6px; color:#000; font-size:20px;">
  <b>1. Which categories contribute the most to overall sales?</b><br>
  <span style="font-size:16px;"></span>
</div>

In [2]:
query = """
WITH category_sales AS (
    SELECT
        p.category,
        SUM(f.sales_amount) AS total_sales
    FROM gold.fact_sales f
    LEFT JOIN gold.dim_products p
        ON p.product_key = f.product_key
    GROUP BY p.category
)
SELECT
    category,
    total_sales,
    SUM(total_sales) OVER () AS overall_sales,
    ROUND((CAST(total_sales AS FLOAT) / SUM(total_sales) OVER ()) * 100, 2) AS percentage_of_total
FROM category_sales
ORDER BY total_sales DESC;

"""

df = pd.read_sql(query, engine)
display(HTML(df.to_html(index=False)))